pipeline/lookup_nameemail.json
{
	"name": "lookup_nameemail",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select name, email from dbo.users",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_retail_db_customers",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filealldetails",
								"value": {
									"value": "@concat(item().name,'-', item().email)\n ",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedetails",
					"value": {
						"value": "@variables('filealldetails')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filedetails": {
				"type": "array"
			},
			"alldetails": {
				"type": "array"
			}
		},
		"variables": {
			"filedetails": {
				"type": "Array"
			},
			"filealldetails": {
				"type": "Array"
			},
			"CSVFileNames  ": {
				"type": "Array"
			},
			"PDFFileNames  ": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Pipeline Activities"
		},
		"annotations": []
	}
}